<a href="https://colab.research.google.com/github/RA2112704010019/yerukonda-charvitha/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case study on data base managment with the help of pandas and doing different operation with numpy.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
print("Mark of charvitha") 
marks=[97,95,81,94,93] 
sub_name=['Maths', 'Science', 'Computer', 'Social', 'English'] 
ind=pd.Series (marks,index=sub_name) 
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name), 
        "Marks": pd. Series (marks), 
        "Grade":pd. Series(['A', 'B','C','A','A']), 
        "Qualification":'Pass', 
        "Rank": np.array([1]*5),
    }
)
dt1=pd.DataFrame(
    {
      "Remarks":pd.Categorical(["Great Job"]),
    }
)
dtfl=pd.concat([dt, dt1]) 
print(dtfl)

Mark of charvitha
   Subjects  Marks Grade Qualification  Rank    Remarks
0     Maths   97.0     A          Pass   1.0        NaN
1   Science   95.0     B          Pass   1.0        NaN
2  Computer   81.0     C          Pass   1.0        NaN
3    Social   94.0     A          Pass   1.0        NaN
4   English   93.0     A          Pass   1.0        NaN
0       NaN    NaN   NaN           NaN   NaN  Great Job

In [8]:
marks=[97,94,81,94,91] 
sub_name=['Maths','Science','Computer','Social','English'] 
ind-pd.Series(marks,index=sub_name) 
dt=pd.DataFrame(
    {
        "Subjects":pd.Series (sub_name), 
        "Marks":pd.Series (marks), 
        "Grade" : pd.Series(['A','B','C','A','A']), 
        "Qualification":'Pass', 
        "Rank":np.array([1]*5),
    }
)    
print(marks) 
mrk=np.mean(marks) 
mrk1=np.median (marks)
print("Mean marks is:",mrk) 
print("Median mark is:",mrk1) 
x=np.percentile(marks, 80, axis=None, interpolation='midpoint') 
print("Percentile function:",x) 
y=np.var(marks, axis=None, dtype=None, ddof=0) 
print("Variance function:",y) 
z=np.std(marks, axis=None, dtype=None, ddof=0) 
print("Standard deviation:",z)

[97, 94, 81, 94, 91]
Mean marks is: 91.4
Median mark is: 94.0
Percentile function: 95.5
Variance function: 30.639999999999997
Standard deviation: 5.535341001239218

In [9]:
print("Mark of charvitha") 
marks=[97,94,81,95,93] 
sub_name=['Maths', 'Science', 'Computer', 'Social', 'English'] 
ind=pd.Series(marks, index=sub_name) 
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name), 
        "Marks": pd. Series (marks), 
        "Grade":pd. Series(['A', 'B','C','A','A']), 
        "Qualification":'Pass', 
        "Rank": np.array([1]*5),
    }
)    
dt1=pd.DataFrame(
    {
        "Remarks":pd.Categorical(["Great Job"]),
    }
)    
dtfl=pd.concat([dt, dt1]) 
print(dtfl)

Mark of charvitha
   Subjects  Marks Grade Qualification  Rank    Remarks
0     Maths   97.0     A          Pass   1.0        NaN
1   Science   94.0     B          Pass   1.0        NaN
2  Computer   81.0     C          Pass   1.0        NaN
3    Social   95.0     A          Pass   1.0        NaN
4   English   93.0     A          Pass   1.0        NaN
0       NaN    NaN   NaN           NaN   NaN  Great Job